// Flatly 5.3.2
// Bootswatch

//$theme: "flatly" !default;

/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto');

// Color system

$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #18bc9c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$primary:       $blue     !default;
$secondary:     $gray-600 !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;

// Utilisation des variables SASS de Quarto
// Si pas de changement: fermer Rstudio et réouvrir le projet

 
$toc-color:              $pink;
$link-color:             $pink;
$code-block-border-left: $purple;
$code-block-border-left-size: 1px;
$code-color:             $purple;

//$body-bg: $gray-100;
//$body-color: $gray-900;


/*-- scss:rules --*/

//  création de classes css classiques
//  Modifier la couleur du texte dans .qmd: [texte]{.nom_classe}
//  .nom_classe = .primary, .secondary, .success, ...

.col_primary{  color: $primary}
.col_secondary{color: $secondary}
.col_success{  color: $success}
.col_info{     color: $info}
.col_warning{  color: $warning}
.col_danger{   color: $danger}
.col_light{    color:$light}
.col_dark{     color: $dark}

.bgprimary{background-color: $primary; color: $gray-200}

.box_img {
  color:$primary;
  border: solid 0px ;
  border-color: $primary;
  border-radius: 3px ;
  background-color:white;
  filter:grayscale(2%);
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 0.5em rgba(44, 62, 80, 0.5);
  padding-left: 6px;
  padding-top:  3px;
  margin-bottom: 40px;
}

.box_accueil {
color: $pink;
font-weight: 700;
font-size: 18px;
border: solid 0px $primary;
border-radius: 2px;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 1px rgb(44, 62, 80),
    0.3em 0.3em 0.5em rgba(44, 62, 80, 0.5);
margin-bottom: 20px;
}

.box_imglab {
  color: $primary;
  border: solid 0px ;
  border-color: $primary;
  border-radius: 3px ;
  background-color:white;
  filter:grayscale(2%);
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 0.5em rgba(253, 126, 20, 0.5);
  padding-left: 6px;
  padding-top:  3px;
}

.box_imghub {
  color: $primary;
  border: solid 0px ;
  border-color: $primary;
  border-radius: 3px ;
  background-color:white;
  filter:grayscale(2%);
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 0.5em rgba(102, 16, 242, 0.5);
  padding-left: 6px;
  padding-top:  3px;
}

.nut {
color: $pink;
font-weight: 900;
padding: 7px;
}
