/* A nettoyer au final peu de classes utilisée dans le support final */

/* modification navbar */

/*.navbar-nav li {
font-size: 1.20em;
margin-left: 7px;
}*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#ced4da;

}


@-moz-document url-prefix() {
  * {
    scrollbar-color: #ced4da white ;
    scrollbar-width: 5px;
  }
}


.navbar {
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.1em;
  color: #2c3e50;
  border-radius: 25px;
}

.nav-item {
  margin-right: 0;
  margin-left: 0px;  
}

.navbar-container {
  width: 90%;
  padding-bottom: 5px;
  padding-top: 5px; 
}

#quarto-header {
  border-bottom:   5px solid white;
  border-top:      5px solid white;
  border-left:    10px solid white;
  border-right:   10px solid white;
}

.navbar-title {
font-size: 0.90em;  
}

/* pour index.qmd */
.cards {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  transition: transform .8s;
}


.card {
transition: transform .9s; 
}

.card:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.card-header {
 padding:var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
 margin-bottom:0;
 color:var(--bs-card-cap-color);
 background-color: #fff;
 border-bottom:var(--bs-card-border-width) solid var(--bs-card-border-color);
 border: solid 2px #2c3e50;   
}

.center{text-align: center}


/* margin h */

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
 padding-top: 1.5rem;
 margin-bottom: 1rem;
 font-weight:500;
 line-height:1.2;
 color:var(--bs-heading-color)
}




/*-- css origine --*/
.quarto-grid-item {
  border: solid 0px ;
  border-color: #008cba;
  border-radius: 1px ;
  background-color:white;
  overflow: hidden;
  filter:grayscale(2%);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1.5em rgba(0, 140, 186, 0.2);
}

/* blocs de codes*/
.code-with-filename .code-with-filename-file {
  background-color: #6f42c1;
  border-bottom:     0px solid  #6f42c1;
  border-top:        1px solid  #6f42c1;
  border-left:       1px solid  #6f42c1;
  border-right:      1px solid  #6f42c1;  
  padding-top:       5px;
  padding-bottom:    5px;  
  color: #f6f4fb;
}

.code-with-filename-file pre {
 background-color:  #6f42c1;
 font-weight: 900;
 font-size: 1.05rem;
}

.code-with-filename .code-with-filename-file strong {
  font-weight: 900;
  color:  #fff;
}

.cell-output-display pre, .cell-output-stdout pre {
padding: .4em;
color: #3c2369;
background-color: #f6f4fb;

}

div.sourceCode {
 background-color: #f8f9fa;
 border: 2px solid #6f42c1;
 border-radius:.25rem;
}



