// Pulse 5.3.2
// Bootswatch

$theme: "pulse" !default;

//
// Color system
//

$white:    #fff    !default;
$gray-100: #fafafa !default;
$gray-200: #f9f8fc !default;
$gray-300: #ededed !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #444    !default;
$gray-800: #343a40 !default;
$gray-900: #17141f !default;
$black:    #000    !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #593196 !default;
$pink:    #e83e8c !default;
$red:     #fc3939 !default;
$orange:  #fd7e14 !default;
$yellow:  #efa31d !default;
$green:   #13b955 !default;
$teal:    #20c997 !default;
$cyan:    #009cdc !default;

$primary:       $purple   !default;
$secondary:     #a991d4   !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;


/*-- scss:rules --*/

//Modifier la couleur du texte dans .qmd: [texte]{.nom_classe}
// .nom_classe = .primary, .secondary, .success, ...

.primary{  color: $primary}
.secondary{color: $secondary}
.success{  color: $success}
.info{     color: $info}
.warning{  color: $warning}
.danger{   color: $danger}
.light{    color:$light}
.dark{     color: $dark}
