// United 5.3.2
// Bootswatch

$theme: "united" !default;

//
// Color system
//

$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aea79f !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #333    !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #772953 !default;
$pink:    #e83e8c !default;
$red:     #df382c !default;
$orange:  #e95420 !default;
$yellow:  #efb73e !default;
$green:   #38b44a !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $orange   !default;
$secondary:     $gray-500 !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-200 !default;
$dark:          $purple   !default;


/*-- scss:rules --*/

//Modifier la couleur du texte dans .qmd: [texte]{.nom_classe}
// .nom_classe = .primary, .secondary, .success, ...

.primary{  color: $primary}
.secondary{color: $secondary}
.success{  color: $success}
.info{     color: $info}
.warning{  color: $warning}
.danger{   color: $danger}
.light{    color:$light}
.dark{     color: $dark}
