// Cyborg 5.3.2
// Bootswatch

$theme: "cyborg" !default;

//
// Color system
//

$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #adafae !default;
$gray-500: #888    !default;
$gray-600: #555    !default;
$gray-700: #282828 !default;
$gray-800: #222    !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #2a9fd6 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #c00    !default;
$orange:  #fd7e14 !default;
$yellow:  #f80    !default;
$green:   #77b300 !default;
$teal:    #20c997 !default;
$cyan:    #93c    !default;

$primary:       $blue     !default;
$secondary:     $gray-600 !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-800 !default;
$dark:          $gray-400 !default;

/*-- scss:rules --*/

//Modifier la couleur du texte dans .qmd: [texte]{.nom_classe}
// .nom_classe = .primary, .secondary, .success, ...

.primary{  color: $primary}
.secondary{color: $secondary}
.success{  color: $success}
.info{     color: $info}
.warning{  color: $warning}
.danger{   color: $danger}
.light{    color:$light}
.dark{     color: $dark}



