// Superhero 5.3.2
// Bootswatch

$theme: "superhero" !default;

//
// Color system
//

$white:    #fff    !default;
$gray-100: #ebebeb !default;
$gray-200: #dee2e6 !default;
$gray-300: #ced4da !default;
$gray-400: #adb5bd !default;
$gray-500: #868e96 !default;
$gray-600: #4e5d6c !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #4c9be8 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #df6919 !default;
$yellow:  #ffc107 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $orange                 !default;
$secondary:     $gray-600               !default;
$success:       $green                  !default;
$info:          $cyan                   !default;
$warning:       $yellow                 !default;
$danger:        $red                    !default;
$light:         lighten($gray-600, 35%) !default;
$dark:          #20374c                 !default;

/*-- scss:rules --*/

//Modifier la couleur du texte dans .qmd: [texte]{.nom_classe}
// .nom_classe = .primary, .secondary, .success, ...

.primary{  color: $primary}
.secondary{color: $secondary}
.success{  color: $success}
.info{     color: $info}
.warning{  color: $warning}
.danger{   color: $danger}
.light{    color:$light}
.dark{     color: $dark}
